<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">-->

<!--<body>-->
<!--<ul class="list-group list-group-flush" th:each="record : ${test}">-->
<!--&lt;!&ndash;<h3 class="list-group-item" th:text="${record}"/>&ndash;&gt;-->
<!--<li class="list-group-item" th:each="word : ${record}" th:text="${word}">-->
<!--</li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'info')}">
<body>
<table class="table table-striped">
    <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Variant</th>
    </tr>
    <tr th:each="record : ${row}">
        <td th:each="word : ${record}">
            <p th:text="${word}"></p>
    </tr>
</table>
</body>
</html>
